*,
*::before,
*::after {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #EDF3F8;
  font-family: Public sans , "Arial", sans-serif;
}

.wrapper{
  min-height: 100%;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.large-container {
  max-width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
