.hero {
	background: #edf3f8;
	padding-bottom: 75px;
	// background-image: url(../images/Bitmap.png);
	// background-repeat: no-repeat;
	// background-size: contain;
	// position: absolute;
	// top: 0;
	// right: 0;

	&__wrapper {
		padding-top: 74px;
		padding-right: 95px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__heading {
		max-width: 535px;
		font-family: 'DM Serif Display';
		font-style: normal;
		font-weight: 400;
		font-size: 72px;
		line-height: 72px;
		letter-spacing: -0.553846px;
		color: #36536b;
	}

	&__img {
		overflow: hidden;
		width: 263px;
		height: 500px;
	}

	.form {
		position: relative;

		.label {
			display: flex;
			flex-direction: column;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			color: #6c8294;
		}

		&__email {
			width: 100%;
			max-width: 445px;
			height: 48px;
			border: none;
			padding-left: 20px;
			box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
			border-radius: 24px;
		}

		&__text {
			padding-left: 20px;
			font-weight: 400;
			font-size: 15px;
			line-height: 18px;
			color: #6c8294;
		}

		&__btn {
			position: absolute;
			right: 90px;
			top: 0;
			@include button;
		}
	} //form
}

@media only screen and(max-width:771px) {
	.hero {
		&__wrapper {
			flex-direction: column-reverse;
			padding-right: 0;
		}

		&__img {
			width: 159px;
			height: 300px;
		}

		&__heading {
			font-size: 48px;
			line-height: 56px;
			text-align: center;
		}

		.form {
			&__email {
				margin-left: 44px;
			}

			&__btn {
				right: 50px;
			}

			&__text {
				padding-left: 144px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.hero {
		padding-bottom: 0;
		z-index: 1000;
		&__wrapper {
			padding-top: 0;
		}

		&__img {
			width: 127px;
			height: 240px;
		}

		&__heading {
			margin: 0;
			padding-top: 25px;
			max-width: 327px;
			font-size: 32px;
			line-height: 36px;
			letter-spacing: -0.246154px;
		}

		.form {
			&__btn {
				width: 327px;
				top: 65px;
				left: 2px;
			}

			&__email {
				width: 327px;
				margin: 0;
			}

			&__text {
				position: absolute;
				top: 140px;
				padding-left: 50px;
			}
		}
	}
}
