.section{
  padding-top: 150px;
  &__top{
    padding-right: 135px;
    padding-bottom: 150px;
    @include box;
  }

  &__img{
    width: 445px;
    height: 284px;
  }

  &__heading{
    padding-bottom: 24px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: $main-blue;

  }

  &__text{
    max-width: 445px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
  }

  &__bottom{
    @include box;
  }

  &__bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bottom-img{
    margin-right: 40px;
  }
    
}


@media only screen and (max-width:730px) {
  .section{
    padding-top: 100px;

    &__top{
      flex-direction: column;
      padding-right: 0;
      padding-bottom: 100px;
    }

    &__img{
      width: 380px;
      height: 249px;
    }

    &__right{
      padding-top: 48px;
      text-align: center;
    }

    &__text{
      max-width: 600px;
    }

    &__bottom{
      flex-direction: column-reverse;
    }

    &__bottom-img{
      width: 168px;
      height: 320px;
      margin-right: 25px;

      &:last-child{
        margin-right: 0;
      }
    }

    &__bottom-left{
      padding-top: 48px;
      text-align: center;
    }


  }
}


  

