.contact{
  &__heading{
    max-width: 730px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    color: #36536B;
  }

  &__inner{
    @include box;
  }

  .form{
    max-width: 445px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__input{
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgba(54, 83, 107, 0.2);
      padding-bottom: 16px;
      padding-top: 24px;
      padding-left: 20px;
    }

    &__message{
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgba(54, 83, 107, 0.2);
      padding-top: 24px;
      padding-bottom: 64px;
      padding-left: 20px;
    }

    &__text{
      padding-left: 20px;
    }

    #check5{
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }

    &__check{
      @include box;
      padding-top: 20px;
      padding-bottom: 20px;

    }

    
 

    &__btn{
      width: 152px;
      height: 48px;
      border-radius: 24px;
      border: 1px solid $main-blue;
      background-color: transparent;
      cursor: pointer;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.115385px;
      color:$main-blue;
      &:hover{
        background-color: $main-blue;
        color:$main-white;
        transition: all 355ms ease;
      }
    }
  }




  &__right{
    max-width: 541px;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__right-heading{
    margin-bottom: 40px;
    max-width: 445px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.184615px;
    mix-blend-mode: normal;
    opacity: 0.75;
    color: #36536B;
  }
    
  &__box{
    max-width: 541px;
    @include box;
    flex-wrap: wrap;
    gap: 55px;
  }

  path{
    fill: $main-blue;
  }
}

@media only screen and (max-width:771px) {
  .contact{
    &__heading{
      font-size: 48px;
      letter-spacing: -0.369231px;
      text-align: center;
      margin: 0;
      padding: {
        top: 75px;
        bottom: 54px;
        left: 94px;
        right: 94px;
      }
    }

    &__inner{
      flex-direction: column;
    }

    &__right{
      justify-content: center;
    }

    &__right-heading{
      padding-top: 64px;
      text-align: center;
    }

  }
}

@media only screen and (max-width:771px) {
  .contact{
    &__heading{
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 12px;
      padding-bottom: 40px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.246154px;

    }

    .form{
      max-width: 327px;
    }

    &__right{
      max-width: 327px;
    }

    &__box{
      gap: 40px;
      padding-bottom: 48px;
    }
  }
}
   

