.price{
  &__heading{
    padding-top: 82px;
    padding-bottom: 72px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    color: $main-blue;
  }

  &__list{
    @include box;
    list-style-type:none;
  }

  &__item{
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }

  &__title{
    padding-bottom: 16px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.246154px;
    color: $main-red;
  }

  &__text{
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
  }

  &__number{
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.430769px;
    color: #36536B;
  }

  &__line{
    max-width: 350px;
    height: 1px;
    margin-bottom: 24px;
    margin-top: 16px;
    background-color: rgba(54, 83, 107, 0.2);
  }

  &__bottom-text{
    padding-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $main-blue;
    &::before{
      content: '';
      background-image: url(../images/checkmark.svg);
      width: 12px;
      height: 8px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      margin-right: 24px;
    }
  }

  &__bottom-title{
    padding-bottom: 8px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $main-blue;
    opacity: 0.5;
  }

  &__btn{
    width: 168px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid $main-blue;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color:$main-blue;
    &:hover{
      background-color: $main-blue;
      color:$main-white;
      transition: all 355ms ease;
    }
  }
}


//responsive

@media only screen and (max-width:730px) {
  .price{
    &__heading{
      padding-top: 75px;
      padding-bottom: 69px;
      text-align: center;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.369231px;
    }

    &__item{
      max-width: 223px;
    }

    &__title{
      text-align: center;
      font-size: 24px;
      letter-spacing: -0.184615px;
    }

    &__number{
      text-align: center;
      font-size: 48px;
      letter-spacing: -0.369231px;
    }

    &__text{
      text-align: center;
    }

    &__bottom-text::before{
      margin-left: 45px;
    }

    &__bottom-title{
      padding-left: 81px;
    }

    &__btn{
      margin-left: 25px;
    }
  }
}

@media only screen and (max-width:480px) {
  .price{
    &__heading{
      padding-top: 8px;
      padding-bottom: 48px;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.246154px;
    }

    &__list{
      flex-direction: column;
    }

    &__btn{
      margin-bottom: 48px;
    }
  }
}

   


 



  


   



  

